# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\wxx9248\OneDrive\Documents\Personal\Programs\src\Projects\HTTYDBar-Exp-Transfer-System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
